body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: #555e68
}

a:hover{
  font-weight: bold;
}

a.active {
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
  overflow: hidden;
}

.sidebar {
  padding: 20px 0;
  width: 20%;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  margin: 5px 0
}

.sidebar ul a {
  padding: 5px;
  text-decoration: none;
}

.sidebar ul a:hover {
  background-color: gray;
  color: white
}

.main {
  padding: 20px;
  width: 80%;
}